.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #53eb58;
    color: white;
}

.logo {
    float : left;
    height : 150px;
    width : 350px;
}

.auth {
    text-decoration: none;
    padding: 10px 18px;
    margin-left: 10px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}