.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #53eb58;
    color: white;
}

.logo {
    float : left;
    height : 150px;
    width : 350px;
}

.auth {
    text-decoration: none;
    padding: 10px 18px;
    margin-left: 10px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}

.login  {
    background: white;
    color: #53eb58;
}

.regist {
    background: #53eb58;
    color: white;
}
.opis {
    font-family : Arial;
    font-size : 15px;
}
.navig {
    font-family : Arial;
    font-size: 17px;
}
.text {
    font-family : Arial;
    font-size : 16px;
}
.login {
    font-family : Arial;
    font-size : 25px;

}
.regist {
    font-family : Arial;
    font-size : 25px;
}
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
}


.auth-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  
  
  width: 100%;
  max-width: 400px; 
  min-width: 280px; 
  
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px; 
}

button {
  padding: 12px;
  background-color: #53eb58;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #53eb58;
}


.password-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.checkbox-label {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.checkbox-label input {
  width: auto; 
}


.toggle-text {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.toggle-text a {
  color: #53eb58;
  text-decoration: none;
}
